@media (min-width: 1024px){
    /* estilos de menu responsive */
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        border: none;
        background: rgba(10, 10, 10, 0);
    }

    .menu a{
        border: none;
    }

    header label{
        display: none;
    }

    .container{
        width: 1000px;
    }

    .article {
        width: 20%;
    }
}

@media (min-width: 480px){
    .banner .container{
        margin-top: 15px;
        font-size: 25px;
    }
}

@media (min-width: 768px){
        #content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 280px;
    }

    .txt {
        width: 65%;
        margin-right: 2%;
        height: 100%;
    }

    .contact {
        width: 33%;
        height: 100%;
        margin-top: 0;
    }

    .contact p{
        line-height: 10px;
    }
}