*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* estilos generales */

header{
    width: 100%;
    height: 50px;
    background: rgb(14, 13, 13);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container{
    width: 90%;
    margin: auto;
}
.container h1{
    float: left;
}

header .container{
    display: table;
}

section{
    width: 100%;
    margin-bottom: 25px;
}


/* ESTILOS DEL MENU */

header h1{
    font-weight: lighter;
}

#menu-bar {
    display: none;
}

header i {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.856);
    transition: all 0.5s;
    transform: translateX(-100%)
}

.menu a {
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.829);
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.363);
}

#menu-bar:checked~.menu {
    transform: translateX(0%);
}


/* TERMINÓ ESTILOS DEL MENÚ */


/* ESTILOS DEL BANNER */

.banner {
    margin-top: 50px;
    position: relative;
}

.img-banner img {
    width: 100%;
    height: 300px;
}

.banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 16px;
}


/* TERMINÓ ESTILOS DEL BANNER */

.txt {
    text-align: justify;
}

.txt p{
    padding: 2% 0;
}

.contact{
    margin-top: 6%;
}

/* ESTILOS DE LOS ARTICLE */

.two-section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.two-section article {
    margin: 15px;
    max-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.856);
    border-radius: 10px;
}

.two-section article figure img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.two-section article h3,
p {
    padding: 10px;
}

.two-section article button {
    margin: 10px;
}

.two-section article div {
    width: 100%;
    border-top: 1px solid black;
}


/* TERMINÓ ESTILOS DE ARTICLES */


/* ESTILOS DE LOS BOTONES */

button {
    color: white;
    background: black;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
}

button:hover {
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
/* TERMINÓ ESTILOS DE LOS BOTONES */

/* ESTILOS DEL FOOTER */
footer{
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    height: 70px;
    line-height: 40px;
    font-weight: lighter;
}